*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
  display: block;
}
address {
  font-style: normal;
}
.container{
    background: #fff;
    max-width: 1400px;
height: auto;
margin: 0 auto;

}
.header{
   position: relative;
   }
   .header .container {
display: flex;
   align-items: center;
   justify-content: space-between;
  
   padding: 22px 145px 24px 143px;
   margin-top: 20px;
   margin-bottom: 30px;
}
.headerNav{
      display: flex;
    gap: 29px;  
}


 .headerItem{
    display: flex;
    gap: 20px;

align-items: center;
 }

 .headerLiistLink{
 font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 2;
color: #2f1e1f;

 }

 .headerListBtn{
     display: flex;
    gap: 14px;
 }
 .headerListBtnItemIn{
display: flex;
border: 1px solid #bcd0e5;
border-radius: 4px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 16px;
color: #173a56;
padding: 11px 23px 11px 25px;


 }
  .headerListBtnItemIn:hover,  .headerListBtnItemIn:focus{
background: #f90;
font-family: "Poppins", sans-serif;

color: #fff;
}
.heroContainer{
    display: flex;
   
   gap: 3px;
   padding-right: 129px;
   padding-left: 145px; 
}

.heroTitle{
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 44px;

line-height: 1.22727;
color: #2f281e;
max-width: 518px;
padding-bottom: 30px;
padding-top: 83px;
}
.heroText{
    font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 18px;
 
line-height: 1.55556;
color: #544837;
padding-bottom: 45px;
max-width: 458px;
}

.heroBtn{
    display: flex;
    gap: 11px;  
}
.heroBtnIn{
    display: flex;
    background: #fff;
      font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;

padding: 15px 41px 14px 41px;
border: none;
color: #f90;
fill: #f90;

}
.heroBtnIn:hover, .heroBtnIn:focus{
   border-radius: 4px;
    background: #f90;
    color: #fff;
    fill: #fff;
}
.heroBtnIn{
    display: flex;
    gap: 8.5px;
}
.designContainer{
       padding-top: 110px;
    padding-bottom: 90px;
      padding-right: 129px;
   padding-left: 145px;
   
}
.designTitle{
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 36px;
text-align: center;
color: #2f281e;
max-width: 539px;
padding-bottom: 54px;
margin: 0 auto;
}
.designItem{
    display: flex;
    gap: 46px;
    padding-bottom: 34px;
}
.desigenListIcon{
    display: flex;
border-radius: 19px;
width: 50px;
height: 50px;
background: #7752be;
justify-content: center;
align-items: center;
fill: #fff;
margin-bottom: 30px;
}
.designSubtitle{
    font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 22px;
color: #2f281e;
padding-bottom: 13px;
}
.yellow{
    background: #fab005;
}
.red{
    background: #f03e3d;
}
.blue{
    background: #4dadf7;
}
.designBtn{
    margin: 0 auto;
}
.professionalsContainer{
    display: flex;
     padding-top: 120px;
    padding-bottom: 100px;
      padding-right: 145px;
   padding-left: 145px;
   gap: 104px;
}
.professionalsText{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 16px;
color: #544837;
padding-bottom: 3px;
}
.professionalsTitle{
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 36px;
color: #2f281e;
padding-bottom: 22px;
}
.professionalsSubtext{
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 16px;


line-height: 1.625;
color: #544837;
max-width: 486px;

}
.professionalsItem{
    display: flex;
    flex-direction: column;
    gap: 25px;
padding-top: 30px;
}

.professionalsSubtitel{
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;

 
line-height: 1.625;
color: #2f281e;
padding-bottom: 12px;
}
.managers{
    flex-direction: row-reverse;
}
.managersList{
    display: flex;
    gap: 30px;
}
.managersListIcon{
    display: flex;
border: 2.92px solid #fff;
border-radius: 14px;
width: 35px;
height: 35px;
justify-content: center;
align-items: center;
fill: #fff;

background: #f90;
}
.subtext{
    max-width: 385px;
    font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 26px; */ 
line-height: 1.625;
color: #544837;
}
